@import './global.scss';

.card{
    width: 100%;
    height: 100%;
    background-color: $Lightredwork;
    border-radius: 10px;
    max-width: 300px;
    &-top{
        width: 100%;
        height: 30%;
        position: relative;
        overflow: hidden;
        & figure{
            // overflow: hidden;
            & svg{
                position: absolute;
                right: 10px;
                top: -10px;
                // overflow: hidden;
            }
        }
    }
    &-bottom{
        width: 100%;
        height: 70%;
        background-color: $Darkblue;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        &-left{
            height: 60%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            & p:nth-child(1){
                color: $PaleBlue;
                font-weight: 600;
                font-size: 1.5rem;
            }
            & p:nth-child(2){
                color: $PaleBlue;
                font-size: 2.6rem;
                font-weight: 300;
            }
        }
        &-right{
            height: 60%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            padding: 5px 0;
            & p{
                color: $Desaturatedblue;
                font-size: 1.3rem;
            }
        }
    }
}

@media screen and (min-width: 990px) {
    .card{
        &-top{
            height: 20%;
        }
        &-bottom{
            height: 80%;    
            align-items: flex-start;
            padding: 20px;
            position: relative;
            &-left{
                height: 64%;
            }
            &-right{
                & p{
                    position: absolute;
                    bottom: 20px;
                    width: 100%;
                    left: 20px;
                    font-size: 1.2rem;
                    // right: 20px;
                }
            }
        }
    }

}